body{
    background-color: #29719B;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #E9E9E9;
}

header img{
    width: 130px;
}

header a{
    text-decoration: none;
    color: #85B4D5;
    font-size: 20px;
    margin-top: 50px;
   
}

.ordenar{
    display: flex;
    justify-content: center;
    


}
.tarj{
    margin: 20px;
    width: 400px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #ccc;
    
}

.tarj img{
    width: 70%;
   margin-left: 65px;
   margin-top: 50px;
}

.tra-conte{
    padding: 35px;
}

.tarj h1{
    color: #E9E9E9;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;

}

.tarj:hover{
    background-color: #85B4D5;
    transform: scale(1.05);
}

footer{
    background-color: #85929C;
    text-align: center;
    color:white;
    padding: 10px;
}